h1 {
  color: #895b2a;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0;
}
p {
  color: #a87743;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 8px;
}
li {
  color: #895b2a;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 500;
  max-width: 340px;
  margin-bottom: 10px;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 175px;
  margin-right: auto;
  margin-left: 110px;
  margin-bottom: 10px;
}

div {
  width: 380px;
  height: 490px;
  border-radius: 15px;
  border: 15px solid #a87743;
  background: #ebc49a;
  margin: 100px auto;
}
body {
  background-color: antiquewhite;
}
